//
//  Shared.xcconfig
//  WINEY
//
//  Created by 박혜운 on 9/15/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BUNDLE_VERSION_SHORT = 1.0
BUNDLE_VERSION_STRING = 24.09.17
BUNDLE_NAME = 승리지쿄
BUNDLE_DISPLAY_NAME = 승리지쿄
PRODUCT_BUNDLE_IDENTIFIER = com.mc2.yanolja
